<script lang="js">
  function openAppStore() {
    alert("App store not available yet!\nPlease check back later or check for updates!");
  }
</script>

<div class="p-10 rounded-lg backdrop-blur-lg shadow-black shadow-2xl font-sans font-extralight 
            flex items-center justify-center"
            data-widget="appstore">
  <button class="cursor-pointer" onclick="openAppStore()">
      <img src="/images/plus.svg" alt="add" />
  </button>          
</div>
